@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&family=Oswald:wght@200..700&display=swap');

.header {
    height:  50px;
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
    top: 0;
    position: sticky;
    z-index: 2000;
 
}



.header__left>h1 {
    text-align: center;
    letter-spacing: 1.5px;
    padding: 0px 0;
    font-size: 46px;
    font-family: "Imbue", serif;
 
    
    
  
    

}

.header__left>h1>span {
    color: #f64c08;
}

h1 span {
    transition: 0.5s ease-out;
  }
  h1:hover span:nth-child(1) {
    margin-right: 5px;
  }
  h1:hover span:nth-child(1):after {
    content: "'";
  }
  h1:hover span:nth-child(2) {
    margin-left: 30px;
  }
  h1:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }
.header__right {
    display: flex;
    flex: 0.6;
    justify-content: space-evenly;
    align-items: center;
}

.header__right>a>h4 {
    font-size: 25px;
    cursor: pointer;
    transition: transfrom 200ms ease-in-out;
    padding: 0px;

}

.header__right>a>h4:hover {
    transform: scale(1.09);
    background-color: #f64c08;
    color: white;
    padding: 2px 15px;
    border-radius: 50px;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
}

.header__rigthButton {
    background-color: #f64c08;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
}